.aside
  background: $purple 
  position: fixed
  height: 100vh
  width: 225px
  z-index: 3
  left: 0

.aside-link
  padding-bottom: 17.5px
  padding-top: 17.5px
  padding-left: 25px
  cursor: pointer
  display: block
  color: $white
  height: 55px
  +font-size()
  +transition()
  &:hover
    background: $white
    color: $purple
  
.aside-link-active
  background: $white
  color: $purple

.aside-link-create
  background: $green-bg
  &:hover
    background: $green-bg
    color: $white
    +opacity()

.aside-logo
  margin-right: 25px
  margin-left: 25px
  margin-bottom: 50px
  margin-top: 20px
  display: block  
  color: $white
  height: 20px

.aside-logo-2
  // margin-right: 25px
  // margin-left: 25px
  // margin-bottom: 50px
  // margin-top: 20px
  display: block  
  color: $white
  height: 20px

.header-status-pay-2 
  color: $white

.aside-logo-svg
  background: url(http://postmarket.pro/content/promoter/image/home/logo/logo.svg) no-repeat
  display: block
  height: 40px
  width: 90px
  position: absolute
  bottom: 20px
  margin-left: 67.5px
  margin-right: 67.5px