.block-first-company
  +margin-top-large()
  +margin-bottom()
  
.block-first-company-title
  +margin-bottom()

.block-first-company-button
  text-align: center
  display: block 
  border: 1px solid $green
  background: $green
  color: $white
  padding: 10px 15px
  +margin-top()
  +border-radius()
  +box-shadow()
  +transition()

  &:hover, &:active
    color: $green
    background: $white

.block-list-company-avatar 
  display: flex
  height: 55px
  width: 55px
  +border-image()

.block-list-company
  +background()
  +margin-bottom()
  cursor: pointer
  +border-radius()
  +box-shadow()
  +transition()
  +padding()

  &:hover, &:active
    color: $white

    .color-done,
    .color-not-paid,
    .color-process,
    .color-considered
      color: $white

.margin-left-2
  margin-left: -15px

.block-company-text
  margin-bottom: 5px

.block-company-text-2
  margin-bottom: 5px
  margin-top: 5px

  &:last-of-type
    margin-bottom: 0
    margin-top: 0

.block-created-company
  +background()
  +margin-bottom()
  cursor: pointer
  +border-radius()
  +transition()
  +box-shadow()
  +padding()

  &:hover, &:active
    color: $white

    .color-done,
    .color-not-paid,
    .color-process,
    .color-considered
      color: $white

.block-created-company-avatar 
  display: flex
  height: 70px
  width: 70px
  +border-image()

.company-avatar
  margin: auto
  color: $white

.block-created-company-link
  color: $black

.color-done
  color: $green

.color-not-paid
  color: $pink

.color-process
  color: $orange

.color-considered
  color: $purple

.bg-done
  background: $green

.bg-not-paid
  background: $pink

.bg-process
  background: $orange

.bg-considered
  background: $purple

.status-done
  &:hover, &:active
    background: $green

.status-not-paid
  &:hover, &:active
    background: $pink

.status-process
  &:hover, &:active
    background: $orange

.status-considered
  &:hover, &:active
    background: $purple