.block-company
  background: $white
  display: block
  color: $black
  +margin-bottom()
  +border-radius()
  +box-shadow()
  +padding()
  &:hover
    +opacity()
  
.block-company-inside
  display: flex
  height: 71px
  width: 71px
  +border-image()

  .bi-x
    display: block

.block-company-pro,
.block-company-cpa
  &::before
    border-bottom-right-radius: 5px
    border-top-left-radius: 5px
    width: 45px
    background: $purple-bg
    position: absolute
    text-align: center
    color: $white
    font-size: 14px

.block-company-pro
  &::before
    content: 'PRO'

.block-company-cpa
  &::before
    content: 'CPA'

.block-company-inside-svg
  margin: auto
  height: 35px
  &::before
    font-size: 35px
    color: $white
    height: 35px

.block-company-height
  overflow: hidden
  height: 60px 
  
.block-company-text 
  margin-bottom: 5px

.block-company-list
  padding-top: 110px
  +margin-bottom()

.block-company-list-title,
  line-height: 35px
  height: 35px

.block-first-company
  +margin-top-large()
  +margin-bottom()
  
.block-first-company-title
  +margin-bottom()

.block-first-company-button
  background: $green-bg
  text-align: center
  display: block 
  color: $white
  line-height: 44px
  +margin-top()
  +border-radius()
  +box-shadow()
  +font-size()
  &:hover
    +opacity()

.block-list-company-avatar 
  display: flex
  height: 55px
  width: 55px
  +border-image()

.block-list-company
  background: $white
  cursor: pointer
  +margin-bottom()
  +border-radius()
  +box-shadow()
  +padding()

.margin-left-2
  margin-left: -15px

.block-company-text-2
  margin-bottom: 5px
  margin-top: 5px
  &:last-of-type
    margin-bottom: 0
    margin-top: 0

.block-created-company-link
  color: $black

.color-done
  color: $green

.color-not-paid
  color: $pink

.color-process
  color: $orange

.color-considered
  color: $purple

.bg-done
  background: $green

.bg-not-paid
  background: $pink

.bg-process
  background: $orange

.bg-considered
  background: $purple