.block-modal-start,
.block-modal-pay,
.block-modal
  background: rgba(0,0,0,.3)
  position: fixed
  height: 100%
  width: 100%
  z-index: 1
  left: 0
  top: 0

.block-modal-pay
  display: none

.block-modal-start-inside,
.block-modal-pay-inside-2,
.block-modal-pay-inside
  background: $white
  position: absolute
  padding: 60px
  width: 550px 
  margin: auto
  bottom: 0
  right: 0
  left: 0
  top: 0
  +border-radius()
  .block-modal-inside-btn
    margin-right: -30px
    position: relative
    margin-top: -30px

.block-modal-start-inside
  height: 245px

.block-modal-pay-inside
  height: 338px
  .bi-check
    display: inline-block

.block-modal-pay-inside-2
  height: 315px
  .bi-check
    display: inline-block

.block-modal-3
  z-index: 2

.block-modal
  display: none

.block-modal-3
  display: none

.block-modal-inside-2,
.block-modal-inside
  background: $white
  position: absolute
  padding: 15px
  width: 620px 
  margin: auto
  bottom: 0
  right: 0
  left: 0
  top: 0
  +border-radius()

.pay-modal-bg
  margin-top: -90px
  margin-left: auto
  margin-right: auto
  margin-bottom: 30px
  justify-content: center
  background: $green-bg
  border-radius: 100%
  display: flex
  height: 60px
  width: 60px

.start-button
  position: relative
  font-size: 17px
  color: $purple
  width: auto
  &:hover
    +opacity()

.pay-modal-svg
  &::before
    vertical-align: bottom
    margin-top: 10px
    font-size: 40px
    color: $white
    height: 40px
  
.modal-svg
  position: absolute
  height: 210px
  left: 15px
  top: 15px

.block-modal-inside-2,
.block-modal-inside
  height: fit-content

.block-modal-inside-btn
  margin-bottom: 15px
  background: none
  float: right
  width: auto

  &:hover
    color: $pink

.block-modal-inside-iframe
  height: 330px
  width: 100%

.block-modal-textarea
  +border($purple)
  min-height: 100px
  margin-top: 15px
  padding: 15px
  resize: none
  +margin-bottom()
  +border-image()
  &:hover
    +border($orange)

.block-modal-input
  padding-bottom: 2px
  margin-top: 5px
  height: 40px
  width: 100%
  +margin-bottom()
  border-bottom: 1px solid $purple
  &:hover
    border-bottom: 1px solid $orange