.block-parnter
  +margin-top-large()
  +margin-bottom()

.block-parnter-svg
  vertical-align: middle
  margin-top: -2.5px

.block-parnter-title
  text-align: center
  +margin-top()

.block-parnter-button
  border: 1px solid $purple
  background: $purple
  padding: 10px 15px
  text-align: center
  cursor: pointer
  color: $white
  +border-radius()
  +margin-bottom()
  +margin-top()
  +box-shadow()
  +transition()

  &:hover, &:active
    background: $white
    color: $purple

.block-settings-link
  border: 1px solid $green
  background: $green
  padding: 10px 15px
  text-align: center
  color: $white
  +border-radius()
  +box-shadow()
  +transition()

  &:hover, &:active
    background: $white
    color: $green

.block-parnter-body
  margin-bottom: 15px

.block-parnter-body-2
  margin-bottom: 5px

.block-settings-stats
  +margin-bottom()