.block-partner-2,
.block-partner
  +margin-top-large()
  +margin-bottom()

.block-partner-svg
  vertical-align: middle
  margin-top: -2.5px

.block-partner-title
  text-align: center
  +margin-top()

.block-partner-button
  background: linear-gradient(268.83deg, #AA53FE 1.58%, #790EE1 99.84%)
  line-height: 44px
  text-align: center
  margin-top: 10px
  cursor: pointer
  color: $white
  +border-radius()
  +margin-bottom()
  +box-shadow()

  &:hover, &:active
    +opacity()

.block-settings-link
  background: linear-gradient(189.78deg, #12e17e 0%, #13bd60 100%)
  line-height: 44px
  text-align: center
  display: block
  color: $white
  width: 100%
  +border-radius()
  +box-shadow()

  &:hover, &:active
    +opacity()

.block-partner-body
  margin-bottom: 15px

.block-partner-body-2
  margin-bottom: 5px

.block-settings-stats
  +margin-bottom()

.partner-stats
  text-align: center
  +margin-bottom()
     
.blcok-settings-select
  height: 44px
  display: block
  appearance: none
  width: 100%
  padding-left: 10px
  margin-top: 10px
  +border($purple)
  +border-image()
  +margin-bottom()

  &:focus
    +border($orange)

.partner-none
  text-align: center
  display: none
  background: $purple
  color: $white
  +padding()
  +box-shadow()
  +border-radius()
  
@media (max-width: $xl)
  .partner-none
    display: block

  .partner-size
    display: none