.block-settings
  +margin-bottom()
  
.settings-input
  border-bottom: 1px solid $purple
  padding-bottom: 2px
  height: 40px
  width: 100%
  +margin-bottom()

  &:focus
    border-bottom: 1px solid $orange

.settings-title-2,
.settings-title
  color: $gray-text
  font-size: 14px
 
.settings-title-2
  +margin-bottom()
 
.settings-title-3
  margin-bottom: 20px

.block-settings-title-balance,
.block-settings-title-unitpay, 
.block-settings-title-links
  +margin-bottom()

.block-settings-title-unitpay 
  text-align: right

.block-settings-svg
  vertical-align: middle
  margin-top: -2.5px

.settings-image
  cursor: pointer
  +border-image()

  &:hover, &:active
    +opacity()
 
.settings-hover 
  justify-content: center
  display: flex

  .home-block-inside-svg
    right: auto

  .settings-image
    width: 35%

  &:hover, &:active
    .home-block-inside-svg
      color: $orange

.block-settings
  .row
    .col-6
      min-width: 100%
      flex: 0 0 100%
  
.settings-title-login
  width: auto

.settings-btn
  background: $green-bg
  line-height: 44px
  text-align: center
  display: block
  color: $white
  margin: auto
  width: 50%
  +border-radius()
  +box-shadow()

  &:hover, &:active
    +opacity()

.settings-button
  background: $purple-bg
  line-height: 44px
  text-align: center
  display: block
  color: $white
  margin: auto
  width: 50%
  +border-radius()
  +box-shadow()

  &:hover, &:active
    +opacity()

.settings-link
  justify-content: space-between
  line-height: 44px
  color: $purple
  display: flex

  &:hover, &:active
    color: $orange

    .block-settings-link-svg 
      color: $orange 

@media (max-width: $sm)
  .bb
    display: block
    margin: auto