doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Блогеры - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="bloggers.html") Блогеры
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">2 000 ₽
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link.aside-link-active(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-arrow-left-right svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container
        .row
          .col-xl-7.col-lg-7.col-md-12
            .block-select-city
              p Узнайте, сколько блогеров могут прорекламировать Вас и сколько человек увидят Вашу рекламу.
              .row
                .col-xl-12
                  input.block-select-city-input(placeholder="Выберите город")
              .row
                .col-xl-3.col-lg-4.col-md-2.col-sm-3.col-5
                  p.block-select-city-body Блогеры: 
                  p <i class="bi bi-person svg color-purple"></i> <strong>29 350</strong>
                .col-xl-3.col-lg-4.col-md-3.col-sm-4.col-7
                  p.block-select-city-body Охват: 
                  p <i class="bi bi-bullseye svg color-purple"></i> <strong>21 767 496</strong>
                .col-xl-3.col-lg-4.col-md-3.col-sm-4
                  p.block-select-city-body.mt-size Аудиотория: 
                  p <i class="bi bi-people svg color-purple"></i> <strong>120 930 532</strong>
          .col-xl-5.col-lg-5.col-md-12
            .home-company-create
              h2.home-company-create-title Создайте рекламную кампанию. 
              p.home-company-create-text Заполните форму, укажите все требуемые параметры и запустите рекламную кампанию.
              a.home-company-create-button(href="create-company.html") Создать
          .col-xl-12
            .row
              .col-xl-6.col-lg-6.col-md-8.col-sm-8
                .who-performs.who-performs-2
                  .form-group.app-state-contentby_publisher
                    input#Item_ContentBy_Publisher.app-trigger-contentfor(name="Item.ContentBy" type="radio" value="0" checked)
                    label(for="Item_ContentBy_Publisher" onclick="ImagePreviewShow()") 
                      <i class="bi bi-people svg-3"></i> Все
                  .form-group
                    input#Item_ContentBy_Advertiser.app-trigger-contentfor(name="Item.ContentBy" type="radio" value="1")
                    label(for="Item_ContentBy_Advertiser" onclick="ImagePreviewHide()") 
                      <i class="bi bi-star svg-3"></i> Избранные
              .col-xl-3.offset-xl-3.col-lg-3.offset-lg-3.col-md-4.col-sm-4
                .block-blogger-link-block(onclick="openbox('settings-filtr'); return false")
                  a.block-blogger-link-settings(href="#")
                    <i class="bi bi-sliders svg-3"></i> Настройки
            .settings-filtr(style="display:none;")
              .row 
                .col-xl-6.col-lg-6.col-md-6.bloggers-margin-size
                  .block-def
                    p.input-def-title.input-def-title-3.mt-0 Пол блогера
                    .create-company-select-type.input-select
                      label(for="CampTypeGender1")
                        input.input-radio(type="radio" id="CampTypeGender1" name="CampTypeGender" value="0" checked)
                        span.checkmark
                        p Любой
                    .create-company-select-type.input-select
                      label(for="CampTypeGender2")
                        input.input-radio(type="radio" id="CampTypeGender2" name="CampTypeGender" value="1")
                        span.checkmark
                        p Женский
                    .create-company-select-type.input-select
                      label(for="CampTypeGender3")
                        input.input-radio(type="radio" id="CampTypeGender3" name="CampTypeGender" value="2")
                        span.checkmark
                        p Мужской
                    p.input-def-title.input-def-title-3 Количество подписчиков
                    <span class="irs irs--big js-irs-0">
                      <span class="irs">
                        <span class="irs-line" tabindex="0"></span>
                        <span class="irs-min" style="display: none; visibility: hidden;">0</span>
                        <span class="irs-max" style="display: none; visibility: visible;">1</span>
                        <span class="irs-from" style="visibility: hidden;">0</span>
                        <span class="irs-to" style="visibility: hidden;">0</span>
                        <span class="irs-single" style="left: 1.25%;">0</span>
                        <span class="irs-single" style="left: 91.5%;">2 000 000</span>
                      </span>
                      <span class="irs-grid"></span>
                      <span class="irs-bar irs-bar--single" style="left: 0px; width: 3.69458%;"></span>
                      <span class="irs-handle single" style="left: 0%;"></span>
                      <span class="irs-handle single" style="left: 95%;"></span>
                    </span>
                    input.js-range-slider.irs-hidden-input(type="text" name="my_range" value="" tabindex="-1" readonly="")
                    .create-company-select-type.input-select
                      label(for="CampTypeFollowers1")
                        input.input-radio(type="radio" id="CampTypeFollowers1" name="CampTypeFollowers" value="0")
                        span.checkmark
                        p По убыванию
                    .create-company-select-type.input-select
                      label(for="CampTypeFollowers2")
                        input.input-radio(type="radio" id="CampTypeFollowers2" name="CampTypeFollowers" value="1")
                        span.checkmark
                        p По возрастанию
                    p.input-def-title.input-def-title-3 По популярности
                    .create-company-select-type.input-select
                      label(for="CampTypeRate1")
                        input.input-radio(type="radio" id="CampTypeRate1" name="CampTypeRate" value="0")
                        span.checkmark
                        p Сначала Высокая
                    .create-company-select-type.input-select
                      label(for="CampTypeRate2")
                        input.input-radio(type="radio" id="CampTypeRate2" name="CampTypeRate" value="1")
                        span.checkmark
                        p Сначала Средняя
                    p.input-def-title.input-def-title-3 CPM
                    <span class="irs irs--big js-irs-0">
                      <span class="irs">
                        <span class="irs-line" tabindex="0"></span>
                        <span class="irs-min" style="display: none; visibility: hidden;">0</span>
                        <span class="irs-max" style="display: none; visibility: visible;">1</span>
                        <span class="irs-from" style="visibility: hidden;">0</span>
                        <span class="irs-to" style="visibility: hidden;">0</span>
                        <span class="irs-single" style="left: 1.25%;">0</span>
                        <span class="irs-single" style="left: 94.5%;">3 000</span>
                      </span>
                      <span class="irs-grid"></span>
                      <span class="irs-bar irs-bar--single" style="left: 0px; width: 3.69458%;"></span>
                      <span class="irs-handle single" style="left: 0%;"></span>
                      <span class="irs-handle single" style="left: 95%;"></span>
                    </span>
                    input.js-range-slider.irs-hidden-input(type="text" name="my_range" value="" tabindex="-1" readonly="")
                .col-xl-6.col-lg-6.col-md-6
                  .block-def
                    p.input-def-title.input-def-title-3.mt-0 Тематика аккаунта
                    .create-company-select-type.input-select
                      label(for="CampType1")
                        input.input-radio(type="radio" id="CampType1" value="0")
                        span.checkmark
                        p.create-company-select-type Личный блог
                    .create-company-select-type.input-select
                      label(for="CampType2")
                        input.input-radio(type="radio" id="CampType2" value="1")
                        span.checkmark
                        p.create-company-select-type Мама/Папа
                    .create-company-select-type.input-select
                      label(for="CampType3")
                        input.input-radio(type="radio" id="CampType3" value="2")
                        span.checkmark
                        p.create-company-select-type Красота и здоровье
                    .create-company-select-type.input-select
                      label(for="CampType4")
                        input.input-radio(type="radio" id="CampType4" value="3")
                        span.checkmark
                        p.create-company-select-type Бизнес/Финансы
                    .create-company-select-type.input-select
                      label(for="CampType5")
                        input.input-radio(type="radio" id="CampType5" value="4")
                        span.checkmark
                        p.create-company-select-type Психология
                    .create-company-select-type.input-select
                      label(for="CampType6")
                        input.input-radio(type="radio" id="CampType6" value="5")
                        span.checkmark
                        p.create-company-select-type Мода/Дизайн
                    .create-company-select-type.input-select
                      label(for="CampType7")
                        input.input-radio(type="radio" id="CampType7" value="6")
                        span.checkmark
                        p.create-company-select-type Музыка/Кино
                    .create-company-select-type.input-select
                      label(for="CampType8")
                        input.input-radio(type="radio" id="CampType8" value="7")
                        span.checkmark
                        p.create-company-select-type Обзор товаров/услуг
                    .create-company-select-type.input-select
                      label(for="CampType9")
                        input.input-radio(type="radio" id="CampType9" value="8")
                        span.checkmark
                        p.create-company-select-type Путешествия и отдых
                    .create-company-select-type.input-select
                      label(for="CampType10")
                        input.input-radio(type="radio" id="CampType10" value="9")
                        span.checkmark
                        p.create-company-select-type Развлечения
                    .create-company-select-type.input-select
                      label(for="CampType11")
                        input.input-radio(type="radio" id="CampType11" value="10")
                        span.checkmark
                        p.create-company-select-type Спорт и ЗОЖ
                    .create-company-select-type.input-select
                      label(for="CampType12")
                        input.input-radio(type="radio" id="CampType12" value="11")
                        span.checkmark
                        p.create-company-select-type Паблик/Сообщество
                    .create-company-select-type.input-select
                      label(for="CampType13")
                        input.input-radio(type="radio" id="CampType13" value="12")
                        span.checkmark
                        p.create-company-select-type Авто/Мото
                    br.br-none
                  .row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6
                      a.block-first-company-button(href="bloggers.html") Сбросить фильтр
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6
                      a.create-company-button(href="#" onclick="openbox('settings-filtr'); return false") Применить       
            #ChangeImagePreviewHide
            #BlockCreateSelf.none
              .row
                .col-xl-12
                  .block-def.margin
                    h2.fav-bloggers 
                      <i class="bi bi-emoji-smile-upside-down svg-2 color-purple"></i> В избранном еще нет блогеров, выберите блогеров которые Вам понравились и они появятся тут!
            #BlockCreateBlogger
              .row
                - for(i=0; i < 10; i++)
                  .col-xl-6.col-lg-6.col-md-6.col-sm-12
                    a.block-blogger.block-blogger-link(href="blogger.html")
                      .row
                        .col-xl-4.offset-xl-0.col-lg-5.offset-lg-0.col-md-6.offset-md-3.col-sm-5
                          .flex
                            img.block-blogger-avatar(src="img/blogger-card/1.png" draggable="false")
                        .col-xl-8.col-lg-7.col-md-12.col-sm-7
                          h2.block-blogger-title.h-27 Твоя 𝑀𝒶𝓂𝒶𝓈𝒾𝓉𝒶 💃🏻😎
                          .row
                            .col-xl-7.col-lg-5.col-md-5.col-sm-5.col-5
                              p.block-blogger-text Охват:
                            .col-xl-5.col-lg-7.col-md-7.col-sm-7.col-7
                              p.block-blogger-text.text-align 1236 
                            .col-xl-7.col-lg-5.col-md-5.col-sm-5.col-5
                              p.block-blogger-text Подписчики:
                            .col-xl-5.col-lg-7.col-md-7.col-sm-7.col-7
                              p.block-blogger-text.text-align 4 334
                            .col-xl-7.col-lg-5.col-md-6.col-sm-5.col-5
                              p.block-blogger-text Качество:
                            .col-xl-5.col-lg-7.col-md-6.col-sm-7.col-7
                              .block-icons.color-purple.text-align
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-half home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star home-bloggers-block-icons-svg"></i>
                            .col-xl-7.col-lg-5.col-md-6.col-sm-5.col-5
                              p.block-blogger-text Активность:
                            .col-xl-5.col-lg-7.col-md-6.col-sm-7.col-7
                              .block-icons.color-purple.text-align
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-half home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star home-bloggers-block-icons-svg"></i>
                            .col-xl-5.col-lg-4.col-md-5.col-sm-5.col-5
                              p.block-blogger-text Тематика:
                            .col-xl-7.col-lg-8.col-md-7.col-sm-7.col-7
                              p.block-blogger-text.text-align Путешествия и отдых 
                .col-xl-4.offset-xl-4.col-lg-6.offset-lg-3.col-md-6.offset-md-3
                  .block-blogger-link-more-block
                    a.block-blogger-link-more(href="create-company.html")
                      h2.block-blogger-link-more-block-title 
                        <i class="bi bi-plus block-list-company-more-avatar block-list-company-more-2 svg-4"></i> Создать рекламную кампанию
                - for(i=0; i < 1; i++)
                  .col-xl-6.col-lg-6.col-md-6.col-sm-12
                    a.block-blogger.block-blogger-link(href="blogger.html")
                      .row
                        .col-xl-4.offset-xl-0.col-lg-5.offset-lg-0.col-md-6.offset-md-3.col-sm-5
                          .flex
                            img.block-blogger-avatar(src="img/blogger-card/1.png" draggable="false")
                        .col-xl-8.col-lg-7.col-md-12.col-sm-7
                          h2.block-blogger-title.h-27 Твоя 𝑀𝒶𝓂𝒶𝓈𝒾𝓉𝒶 💃🏻😎
                          .row
                            .col-xl-7.col-lg-5.col-md-5.col-sm-5.col-5
                              p.block-blogger-text Охват:
                            .col-xl-5.col-lg-7.col-md-7.col-sm-7.col-7
                              p.block-blogger-text.text-align 1236 
                            .col-xl-7.col-lg-5.col-md-5.col-sm-5.col-5
                              p.block-blogger-text Подписчики:
                            .col-xl-5.col-lg-7.col-md-7.col-sm-7.col-7
                              p.block-blogger-text.text-align 4 334
                            .col-xl-7.col-lg-5.col-md-6.col-sm-5.col-5
                              p.block-blogger-text Качество:
                            .col-xl-5.col-lg-7.col-md-6.col-sm-7.col-7
                              .block-icons.color-purple.text-align
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-half home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star home-bloggers-block-icons-svg"></i>
                            .col-xl-7.col-lg-5.col-md-6.col-sm-5.col-5
                              p.block-blogger-text Активность:
                            .col-xl-5.col-lg-7.col-md-6.col-sm-7.col-7
                              .block-icons.color-purple.text-align
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star-half home-bloggers-block-icons-svg"></i>
                                <i class="bi bi-star home-bloggers-block-icons-svg"></i>
                            .col-xl-5.col-lg-4.col-md-5.col-sm-5.col-5
                              p.block-blogger-text Тематика:
                            .col-xl-7.col-lg-8.col-md-7.col-sm-7.col-7
                              p.block-blogger-text.text-align Путешествия и отдых 
    script(src="js/scripts.js")