doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Рекламные кампании - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg> Меню
            h1.header-title
              a.heder-title-link(href="company-2.html") Реклама
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money"> 2 000 ₽ 
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <svg class="aside-logo-svg" viewBox="0 0 149 60" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62155 14.8048H7.65564C9.64412 14.8048 11.32 14.1053 12.6832 12.7063C13.3454 12.0502 13.8695 11.259 14.2225 10.3826C14.5756 9.50616 14.7499 8.56344 14.7346 7.61372C14.7501 6.66373 14.5758 5.72071 14.2227 4.84399C13.8697 3.96727 13.3455 3.17583 12.6832 2.51946C11.3144 1.12043 9.6386 0.420919 7.65564 0.420919H0V21.3892H4.62155V14.8048ZM4.62155 4.91535H7.65564C7.98635 4.90613 8.31509 4.97108 8.61938 5.10574C8.92366 5.24041 9.19634 5.44163 9.41876 5.69564C9.88051 6.21755 10.1278 6.90566 10.1081 7.61372C10.1267 8.3217 9.87815 9.00924 9.41545 9.53008C9.19397 9.78464 8.92202 9.98648 8.61826 10.1218C8.3145 10.257 7.98611 10.3226 7.65564 10.3138H4.62155V4.91535ZM35.443 18.665C37.4878 16.5705 38.5102 13.985 38.5102 10.9085C38.5102 7.832 37.4894 5.24534 35.4479 3.14851C33.4064 1.05054 30.9219 0.00155423 27.9945 0.00155423C25.067 0.00155423 22.5847 1.05054 20.5476 3.14851C18.5061 5.24534 17.4854 7.832 17.4854 10.9085C17.4854 13.985 18.5061 16.5722 20.5476 18.6702C22.5891 20.767 25.0747 21.8154 28.0044 21.8154C30.9341 21.8154 33.4153 20.767 35.4479 18.6702L35.443 18.665ZM22.1019 10.9085C22.1019 9.0752 22.6648 7.57706 23.7905 6.41406C24.9162 5.25107 26.3175 4.67186 27.9945 4.67645C29.6703 4.67645 31.0716 5.25565 32.1984 6.41406C33.3252 7.57247 33.8886 9.07061 33.8886 10.9085C33.8886 12.7418 33.3252 14.2399 32.1984 15.4029C31.0716 16.5659 29.6703 17.1457 27.9945 17.1423C26.3197 17.1423 24.9184 16.5625 23.7905 15.4029C22.6626 14.2434 22.0997 12.7452 22.1019 10.9085ZM48.9116 21.8154C46.8502 21.8154 45.1307 21.3514 43.7532 20.4233C42.402 19.5266 41.3722 18.1945 40.8218 16.6318L44.8087 14.2256C45.6174 16.17 47.0308 17.1423 49.0491 17.1423C50.8785 17.1423 51.7932 16.5728 51.7932 15.4339C51.7932 14.8151 51.4994 14.3304 50.9117 13.9798C50.324 13.6292 49.2193 13.2247 47.5975 12.7664C46.8367 12.5592 46.093 12.289 45.3738 11.9586C44.7098 11.6409 44.0841 11.2435 43.5096 10.7744C42.9123 10.2898 42.4403 9.65915 42.1359 8.93885C41.805 8.13433 41.6423 7.2662 41.6586 6.39172C41.6586 4.45301 42.3281 2.90617 43.667 1.7512C45.0059 0.596228 46.6 0.0130123 48.4493 0.00155423C49.9932 -0.029 51.5143 0.391481 52.8388 1.21496C54.1115 2.02505 55.1129 3.19893 55.8431 4.7366L51.944 7.10326C51.6437 6.39141 51.1773 5.76826 50.5869 5.29003C50.0467 4.88097 49.3341 4.67645 48.4493 4.67645C47.7555 4.67645 47.2208 4.83113 46.8452 5.1405C46.6722 5.26818 46.5309 5.43667 46.4329 5.6321C46.335 5.82752 46.2832 6.04428 46.2818 6.26453C46.2818 6.78358 46.5177 7.23331 46.9894 7.61372C47.4611 7.99413 48.4388 8.41349 49.9224 8.87182C50.7311 9.13192 51.3569 9.3416 51.7999 9.50086C52.3802 9.72479 52.945 9.9901 53.4901 10.2949C54.0715 10.5873 54.5992 10.9828 55.0494 11.4636C55.4511 11.9456 55.775 12.4918 56.0088 13.0809C56.2978 13.8075 56.4399 14.5879 56.4264 15.3737C56.4264 17.3708 55.7332 18.944 54.3468 20.0933C52.9604 21.2425 51.1486 21.8166 48.9116 21.8154ZM63.2104 21.3961V5.03566H58.0105V0.420919H73.0335V5.03566H67.8336V21.3961H63.2104ZM15.6013 27.4115H20.2162V48.3798H15.6013V36.177L10.3716 45.0919H9.85125L4.62321 36.1924V48.3953H0V27.427H4.62321L10.1081 36.7321L15.6013 27.4115ZM30.2762 27.4115L23.4011 48.3798H28.4568L29.4676 45.0833H36.9791L37.9899 48.3798H43.0456L36.1704 27.4115H30.2762ZM30.8546 40.5958L33.2242 32.8942L35.5921 40.5958H30.8546ZM60.2211 38.1569C60.894 37.1045 61.2509 35.8688 61.2468 34.6061C61.2505 33.6605 61.0737 32.7235 60.7265 31.8492C60.3793 30.9749 59.8686 30.1805 59.2238 29.512C58.5791 28.8434 57.8131 28.3139 56.9701 27.954C56.127 27.5941 55.2236 27.4109 54.312 27.415H46.2321V48.3832H50.8537V41.4912H53.0493L56.8605 48.3832H61.8317L57.5234 40.6817C58.621 40.1008 59.5516 39.2299 60.2211 38.1569ZM55.9458 36.5241C55.7447 36.7697 55.4943 36.9666 55.212 37.1011C54.9298 37.2356 54.6226 37.3044 54.312 37.3027H50.8454V31.9077H54.312C54.6226 31.906 54.9298 31.9748 55.212 32.1093C55.4943 32.2438 55.7447 32.4407 55.9458 32.6863C56.3835 33.2223 56.6236 33.9019 56.6236 34.6043C56.6236 35.3067 56.3835 35.9864 55.9458 36.5224V36.5241ZM74.679 37.6327L81.7861 48.3901H76.5282L70.0574 38.6725V48.3815H65.4342V27.4133H70.0574V36.5224L76.2399 27.4133H81.4978L74.679 37.6327ZM89.5925 43.7754H97.6823V48.3901H84.9644V27.4219H97.5316V32.0366H89.5776V35.5118H96.8008V40.0664H89.5859L89.5925 43.7754ZM100.282 27.415H115.299V32.0297H110.099V48.3901H105.476V32.028H100.276L100.282 27.415ZM149 48.4107L140.037 48.3798L140.047 60L125.75 48.3798H120.18V43.4849H127.415L136.231 51.8464V43.4849H144.264V5.27112H85.551V0.357327H148.997V43.4849L149 48.4107Z" fill="currentColor">
            </path>
          </svg>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg> Закрыть меню
        a.aside-link.aside-link-create(href="company-2.html") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg> Запустить рекламу
        a.aside-link(href="index.html") 
          <svg class="svg" fill="currentColor"  viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg> Главная
        a.aside-link(href="index-2.html") 
          <svg class="svg" fill="currentColor"  viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg> Главная #2
        a.aside-link(href="index-3.html") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg> Главная #3
        a.aside-link.aside-link-active(href="company.html") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
            <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg> Реклама
        a.aside-link(href="bloggers.html") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
          </svg> Блогеры
        a.aside-link(href="settings.html") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
          </svg> Настройки
        a.aside-link(href="partner.html") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
          </svg> Партнер
        a.aside-link(href="#") 
          <svg class="svg" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg> Выйти
      .container
        .row
          .col-xl-8.offset-xl-2.col-lg-8.offset-lg-2.col-md-12
            .block-first-company.block-def
              h2.block-first-company-title 
                <svg class="svg-2 color-purple" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                </svg> А теперь самое время создать свою рекламную кампанию!
              p Просто заполните все необходимые поля в рекламной кампании. Все остальное PostMarket сделает за Вас. И Вы начнете получать новые заказы и клиентов!
              .row
                .col-xl-6.col-lg-7.col-md-6
                  a.block-first-company-button(href="create-company.html") Создать рекламную кампанию
    script(src="js/menu.js")