doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Рекламные кампании - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="company.html") Рекламные кампании
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">2 000 ₽
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link.aside-link-active(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-arrow-left-right svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container
        .block-company-list
          .row
            .col-xl-4.order-xl-1.col-lg-6.order-lg-1.col-md-6.order-md-1.col-sm-12.col-12.order-2
              h2.block-company-list-title
                <i class="bi bi-briefcase svg-4 color-purple"></i> Ваши рекламные кампании
            .col-xl-4.order-xl-2.offset-xl-4.col-lg-6.order-lg-2.col-md-6.order-md-2.col-sm-12.col-12.order-1
              h2.block-company-list-title.text-align Создать рекламную кампанию
                a.block-list-company-more(href="create-company.html")
                  <i class="bi bi-plus block-list-company-more-avata svg-4"></i>
        .row
          .col-xl-6.col-lg-6.col-md-6
            a.block-company.status-done(href="created-company-auto-done.html")
              .row
                .col-xl-2.col-lg-3.col-md-4.col-sm-2.col-3
                  .block-company-inside.bg-done
                    <i class="bi bi-check2 block-company-inside-svg"></i>
                .col-xl-6.col-lg-6.col-md-8.col-sm-4.col-8
                  p.block-company-text Аудитория 35 000
                  p.block-company-text Охват 15 000
                  p Блогеров 7
                .col-xl-12.col-lg-12.col-md-12
                  p.block-company-text.mt-10.color-done Задача выполнена
                  p.block-company-height Лима Баррето родился в Рио-де-Жанейро в бедной семье смешанной этнической принадлежности (был мулатом). Поскольку рабство в Бразилии было упразднено в 1888 году, Баррето получил доступ к высшему образованию. Однако из-за недостатка средств ему пришлось отказаться от обучения инженерному делу, и всецело посвятить себя журналистике. Его литературным произведениям были свойственны сарказм и ирония. Он активно критиковал образ жизни обывателей и буржуазии. В советское время считался «неутомимым борцом за независимость стран Латинской Америки, выдающимся бразильским демократом, мыслителем, народным писателем и публицистом.
          .col-xl-6.col-lg-6.col-md-6
           a.block-company.status-not-paid(href="created-company-auto-not-paid.html")
              .row
                .col-xl-2.col-lg-3.col-md-4.col-sm-2.col-3
                  .block-company-inside.bg-not-paid.block-company-cpa
                    <i class="bi bi-question block-company-inside-svg"></i>
                .col-xl-6.col-lg-6.col-md-8.col-sm-4.col-8
                  p.block-company-text Аудитория 35 000
                  p.block-company-text Охват 15 000
                  p Блогеров 7
                .col-xl-12.col-lg-12.col-md-12
                  p.block-company-text.mt-10.color-not-paid Задача не оплачена
                  p.block-company-height Лима Баррето родился в Рио-де-Жанейро в бедной семье смешанной этнической принадлежности (был мулатом). Поскольку рабство в Бразилии было упразднено в 1888 году, Баррето получил доступ к высшему образованию. Однако из-за недостатка средств ему пришлось отказаться от обучения инженерному делу, и всецело посвятить себя журналистике. Его литературным произведениям были свойственны сарказм и ирония. Он активно критиковал образ жизни обывателей и буржуазии. В советское время считался «неутомимым борцом за независимость стран Латинской Америки, выдающимся бразильским демократом, мыслителем, народным писателем и публицистом.
          .col-xl-6.col-lg-6.col-md-6
            a.block-company.status-process(href="created-company-auto-process.html")
              .row
                .col-xl-2.col-lg-3.col-md-4.col-sm-2.col-3
                  .block-company-inside.bg-process.block-company-pro
                    <i class="bi bi-lightning block-company-inside-svg"></i>
                .col-xl-6.col-lg-6.col-md-8.col-sm-4.col-8
                  p.block-company-text Аудитория 35 000
                  p.block-company-text Охват 15 000
                  p Блогеров 7
                .col-xl-12.col-lg-12.col-md-12
                  p.block-company-text.mt-10.color-process Задача в процессе
                  p.block-company-height Лима Баррето родился в Рио-де-Жанейро в бедной семье смешанной этнической принадлежности (был мулатом). Поскольку рабство в Бразилии было упразднено в 1888 году, Баррето получил доступ к высшему образованию. Однако из-за недостатка средств ему пришлось отказаться от обучения инженерному делу, и всецело посвятить себя журналистике. Его литературным произведениям были свойственны сарказм и ирония. Он активно критиковал образ жизни обывателей и буржуазии. В советское время считался «неутомимым борцом за независимость стран Латинской Америки, выдающимся бразильским демократом, мыслителем, народным писателем и публицистом.
          .col-xl-6.col-lg-6.col-md-6
            a.block-company.status-considered(href="created-company-auto-considered.html")
              .row
                .col-xl-2.col-lg-3.col-md-4.col-sm-2.col-3
                  .block-company-inside.bg-considered
                    <i class="bi bi-clock block-company-inside-svg"></i>
                .col-xl-6.col-lg-6.col-md-8.col-sm-4.col-8
                  p.block-company-text Аудитория 35 000
                  p.block-company-text Охват 15 000
                  p Блогеров 7
                .col-xl-12.col-lg-12.col-md-12
                  p.block-company-text.mt-10.color-considered Задача рассматривается
                  p.block-company-height Лима Баррето родился в Рио-де-Жанейро в бедной семье смешанной этнической принадлежности (был мулатом). Поскольку рабство в Бразилии было упразднено в 1888 году, Баррето получил доступ к высшему образованию. Однако из-за недостатка средств ему пришлось отказаться от обучения инженерному делу, и всецело посвятить себя журналистике. Его литературным произведениям были свойственны сарказм и ирония. Он активно критиковал образ жизни обывателей и буржуазии. В советское время считался «неутомимым борцом за независимость стран Латинской Америки, выдающимся бразильским демократом, мыслителем, народным писателем и публицистом.
    script(src="js/scripts.js")