doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Новая рекламная кампания - Оплата - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .block-modal-pay#pay-modal
      .block-modal-pay-inside-2
        span.pay-modal-bg
          <i class="bi bi-check pay-modal-svg"></i>
        button.block-modal-inside-btn(onclick="CloseModal('pay-modal')") <i class="bi bi-x-circle svg-2"></i>
        h1.text-center.margin Баланс успешно пополнен!
        h2.text-center.margin В течение 24 часов с Вами свяжется Ваш персональный менеджер и обсудит все детали рекламной кампании.
        p.color-gray.text-center Службы поддержки всегда на связи! 
        p.color-gray.text-center <i class="bi bi-emoji-smile svg"></i> Пишите, если возникнут вопросы.
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="create-company-cpa-3.html") Новая рекламная кампания - Оплата
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">5 000 ₽
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link.aside-link-active(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-briefcase svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container.block-create-company-steps
        .block-def-2
          .row.mb-60
            ul
              li.active
                a(href="create-company.html")
                  span.number 1
                  span.text Выбор блогеров
              li.active
                a(href="create-company-cpa-1.html")
                  span.number 2
                  span.text Создание контента
              li.active
                a(href="create-company-cpa-2.html")
                  span.number 3
                  span.text Таргетинг и охват      
              li.active
                a(href="create-company-cpa-3.html")
                  span.number 4
                  span.text Оплата кампании
          .row
            .col-xl-6.col-lg-6
              .block-create-company.block-def.mb-0.bg-gray
                h2.margin 
                  <i class="bi bi-trophy svg-2 color-purple"></i> Кампания создана! Пора запускать!
                p.mb-10 Если Вы хотите что-то добавить или случайно забыли можете отредактировать Вашу рекламную кампанию.
                .row
                  .col-xl-6.col-lg-6.col-md-6
                    a.block-create-company-link(href="create-company-cpa-1.html") Редактировать
              .margin
              p.input-def-title-2.mt-0 После пополнения баланса, кампания запустится в течении нескольких минут.
              p.input-def-title-2 Если на балансе кампании останется неизрасходованный бюджет, то Вы сможете его отправить себе обратно на карту или электронный кошелек через 3 недели. 
            .col-xl-6.col-lg-6
              .block-settings.block-def.bg-gray
                .row
                  .col-xl-6.col-lg-67.col-md-6.col-sm-6.col-12
                    p.block-settings-title-balance 
                      <i class="bi bi-wallet svg color-purple"></i> Пополнить баланс
                  .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                    p.block-settings-title-unitpay 
                      <i class="bi bi-shield-check svg color-purple"></i> UnitPay Касса
                h2.margin.text-center Всего к оплате <span class="color-orange"> 20 000 ₽
                .row
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/mastercard.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/yandex.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/sberbank.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4.payment-none
                    img.payment(src="img/payment/visa.png" draggable="false")
                .row
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4.payment-none-2
                    img.payment(src="img/payment/visa.png" draggable="false")
                  .col-xl-3.offset-xl-3.col-lg-3.offset-lg-3.col-md-3.offset-md-3.col-sm-3.offset-sm-3.col-4
                    img.payment(src="img/payment/apple.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/google.png" draggable="false")
                .row
                  .col-xl-6.col-lg-6.col-md-6.col-sm-6.mb-15-s
                    button.settings-button.w-100(onclick="OpenModal('pay-modal')") Пополнить
                  .col-xl-6.col-lg-6.col-md-6.col-sm-6
                    button.settings-button.w-100 Оплата с баланса
              p.input-def-title-2.mt-0 Деньги, которые Вы зачисляете на свой баланс, поступают в полном объеме и идут на оплату достигнутых целей. Если Вы выбрали оплату за Ваши персональные цели, то Вам нужно настроить на своем сайте <a class="color-purple" href="https://postmarket.pro/article/cpa-manual" target="_blank">postback</a>(параметр о факте достижения цели). Наши специалисты помогут Вам в настройке.
              p.input-def-title-2 Далее деньги будут списываться с Вашего баланса по факту достижения целей. 
    script(src="js/scripts.js")