doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Новая рекламная кампания - Оплата - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="create-company-auto-3.html") Новая рекламная кампания - Оплата
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">5 000 ₽ 
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link.aside-link-active(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-arrow-left-right svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container.block-create-company-steps
        .block-def-2
          .row.mb-60
            ul
              li.active
                a(href="create-company.html")
                  span.number 1
                  span.text Выбор блогеров
              li.active
                a(href="create-company-auto-1.html")
                  span.number 2
                  span.text Создание контента
              li.active
                a(href="create-company-auto-2.html")
                  span.number 3
                  span.text Таргетинг и охват      
              li.active
                a(href="create-company-auto-3.html")
                  span.number 4
                  span.text Оплата кампании
          .row.margin
            .col-xl-6.col-lg-6
              .block-create-company.block-def.mb-0.bg-gray
                h2.margin 
                  <i class="bi bi-trophy svg-2 color-purple"></i> Кампания создана! Пора запускать!
                p.mb-10 Если Вы хотите что-то добавить или случайно забыли можете отредактировать Вашу рекламную кампанию.
                .row
                  .col-xl-6.col-lg-6.col-md-6
                    a.block-create-company-link(href="create-company-auto-1.html") Редактировать
              .margin
              p.input-def-title-2.mt-0 После пополнения баланса, кампания запустится в течении нескольких минут.
              p.input-def-title-2.margin.tooltip Вы сможете вывести деньги с Вашего общего баланса на Вашу карту обратно 
                <i class="bi bi-question-circle svg color-purple"></i>
                  span.tooltip-text После завершения рекламной кампании, деньги которые останутся после пересчета цены блогеры (когда блогер не набрал его средних охват) или была заподозрена накрутка у блогера (такой блогер заменится на нового и возможна разница в средствах).
            .col-xl-6.col-lg-6
              .block-settings.block-def.bg-gray
                .row
                  .col-xl-6.col-lg-67.col-md-6.col-sm-6.col-12
                    p.block-settings-title-balance 
                      <i class="bi bi-wallet svg color-purple"></i> Пополнить баланс
                  .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                    p.block-settings-title-unitpay 
                      <i class="bi bi-shield-check svg color-purple"></i> UnitPay Касса
                h2.text-center Всего к оплате <span class="color-orange"> 5 000 ₽
                .row
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/mastercard.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/yandex.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/sberbank.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4.payment-none
                    img.payment(src="img/payment/visa.png" draggable="false")
                .row
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4.payment-none-2
                    img.payment(src="img/payment/visa.png" draggable="false")
                  .col-xl-3.offset-xl-3.col-lg-3.offset-lg-3.col-md-3.offset-md-3.col-sm-3.offset-sm-3.col-4
                    img.payment(src="img/payment/apple.png" draggable="false")
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-4
                    img.payment(src="img/payment/google.png" draggable="false")
                .row
                  .col-xl-6.col-lg-6.col-md-6.col-sm-6.mb-15-s
                    button.settings-button.w-100 Пополнить
                  .col-xl-6.col-lg-6.col-md-6.col-sm-6
                    button.settings-button.w-100 Оплата с баланса
              p.input-def-title-2.mt-0 Деньги, которые Вы зачисляете на свой счет, поступают в полном объеме и идут на оплату рекламы у блогеров.
              p.input-def-title-2 Далее эти деньги будут списываться с Вашего баланса по факту размещения блогером рекламы.
          .row
            .col-xl-12
              h2.margin Блогеры готовые рекламировать сейчас <span class=" blogger-span"> 15
            - for (i=0; i < 15; i++)
              .col-xl-4.col-lg-6.col-md-6
                a(href="")
                  <i class="bi bi-x create-company-svg"></i>
                .block-blogger.padding
                  .row
                    .col-xl-6.offset-xl-3.col-lg-6.offset-lg-3.col-md-8.offset-md-2.col-sm-6.offset-sm-3.col-6.offset-3
                      a(href="blogger.html")
                        img.block-blogger-avatar(src="img/blogger-card/1.png" draggable="false")
                    .col-xl-12
                      p.mb-5.h-20.text-center Твоя 𝑀𝒶𝓂𝒶𝓈𝒾𝓉𝒶 💃🏻😎
                      p.mb-5.h-20.text-center  
                        a.block-blogger-card-link(href="https://www.instagram.com/ksesimaa_/" target="_blank") @ksesimaa_
                      .row   
                          .col-6
                            p.mb-5 Охват:
                          .col-6
                            p.mb-5.text-align  1236 
                          .col-6
                            p.mb-5 Подписчики:
                          .col-6
                            p.mb-5.text-align 4 334                                           
                          .col-xl-6.col-lg-5.col-md-6.col-sm-6.col-6
                            p.mb-5 Качество:
                          .col-xl-6.col-lg-7.col-md-6.col-sm-6.col-6
                            .block-icons.color-purple.text-align.mb-5
                              <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                              <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                              <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                              <i class="bi bi-star-half home-bloggers-block-icons-svg"></i>
                              <i class="bi bi-star home-bloggers-block-icons-svg"></i>
                          .col-4
                            p.mb-5 Тематика:
                          .col-8
                            p.mb-5.text-align Путешествия/отдых
                          .col-12
                            p.block-blogger-see Рекламу увидят: 153 чел.
          .row  
            .col-xl-6.col-lg-8
              p.input-def-title-2.mt-0 Вы можете удалить блогера, если он Вам не понравился, нажав на крестик над его фото. Система подберет нового блогера для исполнения Вашей кампании.
    script(src="js/scripts.js")