doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Новая рекламная кампания - Таргетинг - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            .header-link#hidden-link 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title Новая рекламная кампания - Таргетинг
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">5 000 ₽
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        .aside-logo
          <i class="aside-logo-svg"></i>
        .aside-link.hide-2#hidden-link-2
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link.aside-link-active(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-briefcase svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container.block-create-company-steps
        .block-def-2
          .row.mb-60
            ul
              li.active
                a(href="create-company.html")
                  span.number 1
                  span.text Выбор блогеров
              li.active
                a(href="create-company-cpa-1.html")
                  span.number 2
                  span.text Создание контента
              li.active
                a(href="create-company-cpa-2.html")
                  span.number 3
                  span.text Таргетинг и охват      
              li
                a(href="#")
                  span.number 4
                  span.text Оплата кампании
          .row
            .col-lg-6
              .block-create-company
                p.input-def-title.input-def-title-3.mt-0.tooltip.w-100  Выбор цели 
                  <i class="bi bi-question-circle svg color-purple"></i>
                  span.tooltip-text Вы можете выбрать тип цели - оплата за тапы/переходы, если Вы рекламируете Вашу страницу в Инстаграм или за действия на Вашем сайте, если продвигаете внешнюю ссылку.
                .row
                  .col-xl-6.col-lg-7.col-md-6.col-sm-7
                    .create-company-select-type.input-select.mt-0(onclick="ChangeCofusTap()")
                      label(for="CampTypeFocus1")
                        input.input-radio(type="radio" id="CampTypeFocus1" name="CampTypeFocus" value="0" checked)
                        span.checkmark
                        p Цена за переход/тап
                  .col-xl-6.col-lg-5.col-md-6.col-sm-5.ml-m-2
                    .create-company-select-type.input-select.mt-0(onclick="ChangeCofusFocus()")
                      label(for="CampTypeFocus2")
                        input.input-radio(type="radio" id="CampTypeFocus2" name="CampTypeFocus" value="1")
                        span.checkmark
                        p Цена за цель
                input.input-def.text-center.margin.mt-10#ChangeFocus(placeholder="15")
                #ChangeImagePreviewHide.none.margin
                  p.input-def-title.mt-0 Цель на сайте
                  select.input-def(onchange="AddMoreTarget(this)")
                    option(value="0" selected="selected") Регистрация
                    option(value="1") Продажа
                    option(value="2") Депозит
                    option(value="3") Заполнение формы
                    option(value="4") Другое
                  input.input-def.mt-10#target-2(style="display: none;" placeholder="Опишите другую цель на сайте")
                  #target(style="display: none;")
                    .row.margin
                      .col-xl-6.col-lg-7.col-md-5.col-sm-6.mt-10
                        .create-company-select-type.input-select.mt-0
                          label(for="CampTypeEndtarget1")
                            input.input-radio(type="radio" id="CampTypeEndtarget1" name="CampTypeEndtarget" value="0" checked)
                            span.checkmark
                            p Процент от пополнения
                      .col-xl-6.col-lg-5.col-md-5.col-sm-5.mt-10
                        .create-company-select-type.input-select.mt-0
                          label(for="CampTypeEndtarget2")
                            input.input-radio(type="radio" id="CampTypeEndtarget2" name="CampTypeEndtarget" value="1")
                            span.checkmark
                            p Фиксированная цена
                  p.input-def-title.input-def-title-3 Кратко опишите Вашу цель
                  textarea.create-company-textarea.margin(placeholder="Пример: оплата происходит за заполнение формы регистрации")
                  p.input-def-title.mt-0 Тип связи
                  select.input-def
                    option(value="0" selected="selected") Telegram
                    option(value="1") WhatsApp
                    option(value="2") Viber
                    option(value="3") Звонок
                  p.input-def-title Телефона для связи
                  input.input-def.mb-10(placeholder="+7 977 777 77 77")
                p.input-def-title.mt-0 Выберите регион где Вас рекламировать
                .create-company-select-type.mt-0.input-select
                  label(for="CampTypeLocation1")
                    input.input-radio(type="radio" id="CampTypeLocation1" name="CampTypeLocation" value="0" checked)
                    span.checkmark
                    p Россия
                .create-company-select-type.input-select
                  label(for="CampTypeLocation2")
                    input.input-radio(type="radio" id="CampTypeLocation2" name="CampTypeLocation" value="1")
                    span.checkmark
                    p Москва
                p.input-def-title.input-def-title-3 Дата запуска кампании
                .row
                  .col-xl-5.col-lg-6.col-md-5.col-sm-6
                    .create-company-select-type.input-select.mt-0
                      label(for="CampTypeDate1")
                        input.input-radio(type="radio" id="CampTypeDate1" name="CampTypeDate" value="0" checked)
                        span.checkmark
                        p Запустить сразу
                  .col-xl-6.ml-m-2.col-lg-7.col-md-5.col-sm-5
                    .create-company-select-type.input-select.mt-0
                      label(for="CampTypeDate2")
                        input.input-radio(type="radio" id="CampTypeDate2" name="CampTypeDate" value="1")
                        span.checkmark
                        p Выбрать дату
                input.input-def.mt-10(placeholder="11.11.2021")
                p.input-def-title.input-def-title-3 Срок действия
                .row
                  .col-xl-6.col-lg-7.col-md-5.col-sm-6
                    .create-company-select-type.input-select.mt-0
                      label(for="CampTypeEnd1")
                        input.input-radio(type="radio" id="CampTypeEnd1" name="CampTypeEnd" value="0" checked)
                        span.checkmark
                        p Минимум (3 недели)
                  .col-xl-6.ml-m-2.col-lg-5.col-md-5.col-sm-5
                    .create-company-select-type.input-select.mt-0
                      label(for="CampTypeEnd2")
                        input.input-radio(type="radio" id="CampTypeEnd2" name="CampTypeEnd" value="1")
                        span.checkmark
                        p Выбрать срок
                input.input-def.mt-10(placeholder="11.11.2021")
            .col-xl-6.col-lg-6.col-md-12
              p.text-center.margin
                a.bb.input-def-title.mt-0(href="http://postmarket.pro/article/cpa-manual" target="_blank") Инструкция по настройке postback уведомлений
              h2.mb-10 Бюджет
              .who-performs.margin
                .form-group.app-state-contentby_publisher
                  input#Item_PublicationKind_Any.app-trigger-contentfor(name="Item.PublicationKind" type="radio" value="0" checked)
                  label(for="Item_PublicationKind_Any") Эконом
                .form-group
                  input#Item_PublicationKind_Post.app-trigger-contentfor(name="Item.PublicationKind" type="radio" value="1")
                  label(for="Item_PublicationKind_Post") Легкий старт
                .form-group
                  input#Item_PublicationKind_Stories.app-trigger-contentfor(name="Item.PublicationKind" type="radio" value="2")
                  label(for="Item_PublicationKind_Stories") Оптимально
              .container-budget.app-state-isnotregular.margin
                input#Item_Budget(name="Item.Budget" type="hidden" value="20000")
                .block-custome-price
                    label Ввести сумму вручную
                    input#manual-budget(min="20000" value="20000" step="10" max="65500")
                <span class="irs irs--big js-irs-0">
                  <span class="irs">
                    <span class="irs-line" tabindex="0"></span>
                    <span class="irs-min" style="display: none; visibility: hidden;">0</span>
                    <span class="irs-max" style="display: none; visibility: visible;">1</span>
                    <span class="irs-from" style="visibility: hidden;">0</span>
                    <span class="irs-to" style="visibility: hidden;">0</span>
                    <span class="irs-single" style="left: -2.05703%;">20 000₽</span>
                  </span>
                  <span class="irs-grid"></span>
                  <span class="irs-bar irs-bar--single" style="left: 0px; width: 3.69458%;"></span>
                  <span class="irs-shadow shadow-single" style="display: none;"></span>
                  <span class="irs-handle single" style="left: 0%;"><i></i><i></i><i></i></span>
                </span>
                input.js-range-slider.irs-hidden-input(type="text" name="my_range" value="" tabindex="-1" readonly="")
              .block-create-company-3-bg.margin
                p.text-center Реклама в режиме CPA не несет никаких финансовых рисков - Вы платите за фактический результат, а не за рекламу. Ваши деньги пойдут только на оплату нужных Вам целей(продаж, регистраций). Кампания активна 3 недели, после чего Вы можете вывести оставшиеся деньги с депозита или продлить кампанию!
          .row.mt-30
            .col-xl-6.col-lg-6.col-md-12
              .row
                .col-5
                  a.block-create-company-link(href="create-company-cpa-1.html") Назад
                .col-5.offset-2
                  a.block-create-company-link(href="create-company-cpa-3.html") Готово
    script(src="js/scripts.js")