doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Главная - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .block-modal#video-modal-1
      .block-modal-inside
        button.block-modal-inside-btn(onclick="CloseModal('video-modal-1');") 
          <i class="bi bi-x-circle svg-2"></i>
        iframe.block-modal-inside-iframe(src="https://www.youtube.com/embed/5juX944Pos8" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .block-modal#video-modal-2
      .block-modal-inside
        button.block-modal-inside-btn(onclick="CloseModal('video-modal-2');") 
          <i class="bi bi-x-circle svg-2"></i>
        iframe.block-modal-inside-iframe(src="https://www.youtube.com/embed/hpbNqUY2LQo" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .block-modal#video-modal-3
      .block-modal-inside
        button.block-modal-inside-btn(onclick="CloseModal('video-modal-3');") 
          <i class="bi bi-x-circle svg-2"></i>
        iframe.block-modal-inside-iframe(src="https://www.youtube.com/embed/b8OlblFwOYs" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    //- .block-modal-2#start-modal
    //-   .block-modal-inside-3
    //-     <svg class="modal-svg" viewBox="0 0 223 90" fill="none">
    //-       <circle cx="32" cy="81" r="2.5" stroke="#FFE000"></circle>
    //-       <circle cx="29" cy="14" r="2.5" stroke="#852BF9"></circle>
    //-       <circle cx="202" cy="5" r="4.5" stroke="#FFE000"></circle>
    //-       <rect x="146.243" y="9" width="6" height="6" transform="rotate(45 146.243 9)" fill="#8E03E2"></rect>
    //-       <rect x="176.243" y="70" width="6" height="6" transform="rotate(45 176.243 70)" fill="#FFE000"></rect>
    //-       <rect x="11.0449" y="80.127" width="8" height="8" transform="rotate(81.7944 11.0449 80.127)" fill="#852BF9"></rect>
    //-       <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99993 0C7.36875 0 6.85708 0.511674 6.85708 1.14286V6.85754H1.14286C0.511675 6.85754 0 7.36921 0 8.00039C0 8.63158 0.511674 9.14325 1.14286 9.14325H6.85708V14.8571C6.85708 15.4883 7.36875 16 7.99993 16C8.63112 16 9.14279 15.4883 9.14279 14.8571V9.14325H14.8571C15.4883 9.14325 16 8.63158 16 8.00039C16 7.36921 15.4883 6.85754 14.8571 6.85754H9.14279V1.14286C9.14279 0.511675 8.63112 0 7.99993 0Z" fill="#FFE000"></path>
    //-       <path fill-rule="evenodd" clip-rule="evenodd" d="M217 75C216.527 75 216.143 75.3838 216.143 75.8571V80.1434H211.857C211.384 80.1434 211 80.5271 211 81.0005C211 81.4739 211.384 81.8576 211.857 81.8576H216.143V86.1429C216.143 86.6162 216.527 87 217 87C217.473 87 217.857 86.6162 217.857 86.1429V81.8576H222.143C222.616 81.8576 223 81.4739 223 81.0005C223 80.5271 222.616 80.1434 222.143 80.1434H217.857V75.8571C217.857 75.3838 217.473 75 217 75Z" fill="#8E03E2"></path>
    //-     </svg>
    //-     span.pay-modal-bg
    //-       <i class="bi bi-gem"></i>
    //-     button.block-modal-inside-btn(onclick="CloseModal('start-modal');") 
    //-       <i class="bi bi-x-circle svg-2"></i>
    //-     h1.text-center.margin Добро пожаловать в PostMarket!
    //-     h2.text-center Будем рады нашему с Вами сотрудничеству. А для того, чтобы Вам работать с нами было легко, посмотрите это 
    //-       <button class="start-button" onclick="OpenModalStart();"> видео</button>.
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="index.html") Главная
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">5 000 ₽
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link.aside-link-active(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-briefcase svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container
        .row
          .col-xl-7.col-lg-7.col-md-12
            .home-bloggers
              h2.home-bloggers-title Список блогеров 
                a.home-bloggers-title-link(href="bloggers.html") все
              .row
                - for(i = 0; i < 8; i++)
                  .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-6
                    a.home-bloggers-block(href="blogger.html")
                      p.home-bloggers-block-text Ksenia Dondukova
                      img.home-bloggers-block-image(src="img/bloggers/2.png" draggable="false")
                      p.home-bloggers-block-text 17 806
                      .home-bloggers-block-icons
                        <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                        <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                        <i class="bi bi-star-fill home-bloggers-block-icons-svg"></i>
                        <i class="bi bi-star-half home-bloggers-block-icons-svg"></i>
                        <i class="bi bi-star home-bloggers-block-icons-svg"></i>
            //- h2.home-block-title-2
            //-   <i class="bi bi-briefcase svg-2 color-purple"></i> Рекламная кампания
            //-   a.home-bloggers-title-link(href="company.html") все
            //- a.block-company.status-done(href="created-company-auto-done.html")
            //-   .row
            //-     .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-3
            //-       .block-company-inside.bg-done.block-company-pro
            //-         <i class="bi bi-check2 block-company-inside-svg"></i>
            //-     .col-xl-4.col-lg-4.col-md-3.col-sm-4.col-7
            //-       p.block-company-text Аудитория 35 000
            //-       p.block-company-text Охват 15 000
            //-       p Блогеров 7
            //-     .col-xl-6.col-lg-6.col-md-7
            //-       p.block-company-text.color-done Задача выполнена
            //-       p.block-company-height Лима Баррето родился в Рио-де-Жанейро в бедной семье смешанной этнической принадлежности (был мулатом). Поскольку рабство в Бразилии было упразднено в 1888 году, Баррето получил доступ к высшему образованию. Однако из-за недостатка средств ему пришлось отказаться от обучения инженерному делу, и всецело посвятить себя журналистике. Его литературным произведениям были свойственны сарказм и ирония. Он активно критиковал образ жизни обывателей и буржуазии. В советское время считался «неутомимым борцом за независимость стран Латинской Америки, выдающимся бразильским демократом, мыслителем, народным писателем и публицистом.
          .col-xl-5.col-lg-5
            .row
              .col-xl-12
                .home-company-create
                  h2.home-company-create-title Создайте рекламную кампанию. 
                  p.home-company-create-text Заполните форму, укажите все требуемые параметры и запустите рекламную кампанию.
                  a.home-company-create-button(href="create-company.html") Создать
              .col-12
                .home-bloggers-3 
                  h2.home-block-title-2
                    <i class="bi bi-briefcase svg-2 color-purple"></i> Рекламная кампания
                    a.home-bloggers-title-link(href="company.html") все
                  a.block-company.status-done(href="created-company-auto-done.html")
                    .row
                      .col-3
                        .block-company-inside.bg-done.block-company-pro
                          <i class="bi bi-check2 block-company-inside-svg"></i>
                      .col-9
                        p.block-company-text Аудитория: 35 000
                        p.block-company-text Охват: 15 000
                        p Блогеров: 7
                      .col-12
                        p.color-done.mt-20 Задача выполнена
                        p.block-company-height Лима Баррето родился в Рио-де-Жанейро в бедной семье смешанной этнической принадлежности (был мулатом). Поскольку рабство в Бразилии было упразднено в 1888 году, Баррето получил доступ к высшему образованию. Однако из-за недостатка средств ему пришлось отказаться от обучения инженерному делу, и всецело посвятить себя журналистике. Его литературным произведениям были свойственны сарказм и ирония. Он активно критиковал образ жизни обывателей и буржуазии. В советское время считался «неутомимым борцом за независимость стран Латинской Америки, выдающимся бразильским демократом, мыслителем, народным писателем и публицистом.
          .col-xl-12
            h2.home-block-title
              <i class="bi bi-newspaper svg-2 color-purple"></i> Информационные материалы PostMarket
          .col-xl-4.col-lg-4.col-md-4.col-sm-6
            .home-block-2.cursor-pointer(onclick="OpenModal('video-modal-1');")
              .home-block-inside
                img.home-block-inside-image(src="img/home/case/1.png" draggable="false")
                <i class="bi bi-play home-block-inside-svg"></i>
                p.home-block-inside-text Обзор сервиса маркетологом Дамиром Халиловым
          .col-xl-4.col-lg-4.col-md-4.col-sm-6
            .home-block-2.cursor-pointer(onclick="OpenModal('video-modal-2');")
              .home-block-inside
                img.home-block-inside-image(src="img/home/case/2.png" draggable="false")
                <i class="bi bi-play home-block-inside-svg"></i>
                p.home-block-inside-text Обзор сервиса маркетологом Антоном Сабуровым
          .col-xl-4.col-lg-4.col-md-4.col-sm-6
            .home-block-2.cursor-pointer(onclick="window.open('https://www.cossa.ru/cases/279524/','_blank');")
              .home-block-inside
                img.home-block-inside-image(src="img/home/case/3.png" draggable="false")
                <i class="bi bi-plus home-block-inside-svg"></i>
                p.home-block-inside-text Кейс маркетингового агенства cossa.ru с PostMarket
    script(src="js/scripts.js")