doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Партнерская программа - Партнер - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .block-modal#chat-modal-1(style="display:none;")
      .block-modal-inside-2
        .row
          .col-xl-12
            button.block-modal-inside-btn(onclick="document.getElementById('chat-modal-1').style.display='none'") Закрыть
        p.input-def-title-3 Опишите промо материалы которые Вы хотите получить
        textarea.create-company-textarea(placeholder="формат, размеры, назначение")
        p.input-def-title-3.input-def-title Укажите @email
        input.input-def.margin(placeholder="email@mail.ru")
        p.text-align-center.margin Промо материал будет отправлен на Ваш @email, в течение несколько часов бесплатно.
        .row
          .col-xl-6.offset-xl-3.col-lg-6.offset-lg-3.col-sm-6.offset-md-0.col-12
            a.block-settings-link.ml-partner-size(href="#" onclick="document.getElementById('chat-modal-1').style.display='block'")
              <i class="bi bi-envelope svg-3"></i> Заказать бесплатно    
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="partner.html") Партнерская программа
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            p.text-align <i class="bi bi-emoji-wink svg-3 color-purple"></i> Партнер с PostMarket!
    .main
      .aside#hidden-element
        a.aside-logo(href="partner.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link.aside-link-active(href="partner.html") 
          <i class="bi bi-house svg"></i> Главная
        a.aside-link(href="partner-stats.html") 
          <i class="bi bi-bar-chart svg"></i> Статистика
        a.aside-link(href="partner-settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="index.html") 
          <i class="bi bi-arrow-left-right svg"></i> Рекламодатель
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container
        .row
          .col-xl-6.col-lg-6
            .block-partner.block-def
              p.font-size-14 
                <i class="bi bi-percent svg color-purple"></i> Тип привлечения рекламодателей
              h2.block-partner-title Процент с оплат кампаний <span class="color-purple">20%</span>
          .col-xl-6.col-lg-6
            .block-partner-2.block-def
              p.font-size-14
                <i class="bi bi-percent svg color-purple"></i> Тип привлечения блогеров
              h2.block-partner-title Процент с дохода блогера <span class="color-purple">10%</span>
          .col-xl-12
            p Ваша реферальная/партнерская ссылка
            .row.margin
              .col-xl-4.col-lg-5.col-md-6
                h2.block-partner-button.color-purple.mb-0
                  <i class="bi bi-link-45deg svg-4"></i> https://postmarket.pro/pid/4556
              .col-xl-3.offset-xl-5.col-lg-3.offset-lg-4.col-md-6
                h2
                  button.block-partner-button.color-purple.mb-0
                    <i class="bi bi-wallet2 svg-4"></i> Запросить выплату
        .row
          .col-xl-6.col-lg-6
            .margin
              p.block-partner-body Если Вы агентство или СММ, то есть несколько сценариев работы, которые Вы можете использовать, чтобы получить свой процент со всех оплат Ваших клиентов.
              p.block-partner-body 1. Если Вы намерены сами создавать кампании для своих клиентов в одном личном кабинете, то Вам нужно перейти по Вашей ссылке и зарегистрировать новый аккаунт (не тот, что у Вас сейчас, под которым Вы сейчас зашли как партнер) и уже в этом аккаунте заводить все рекламные кампании Ваших клиентов, пополнить баланс, а Ваш процент будет отображаться тут.
              p.block-partner-body 2. Вам достаточно давать ссылку Вашим клиентам, они будут сами регистрироваться, создавать кампании, а Ваш процент будет отображаться у Вас на балансе.
              p Оба варианта Вы можете совмещать между собой.
          .col-xl-6.col-lg-6
            .row
              .col-xl-6.col-lg-6.col-md-6.col-sm-6
                .block-def.margin
                  p.block-settings-stats 
                    <i class="bi bi-bar-chart svg color-purple"></i> Статистика
                  p.block-partner-body-2 Блогеров: <span class="color-purple">0
                  p.block-partner-body-2 Рекламодателей: <span class="color-purple">0
                  p Партнеров: <span class="color-purple">0
                  br
              .col-xl-6.col-lg-6.col-md-6.col-sm-6
                .block-def.margin
                  p.block-settings-stats 
                    <i class="bi bi-wallet svg color-purple"></i> Доход
                  p.block-partner-body-2 Всего: <span class="color-green">0 ₽
                  p.block-partner-body-2 Баланс: <span class="color-orange">0 ₽
                  p.block-partner-body-2 В ожидании: <span class="color-orange">0 ₽
                  p За месяц: 0 ₽
          .col-xl-12
            h2.home-block-title 
              <i class="bi bi-archive svg-2 color-purple"></i> Промо материалы для привлечения рекламодателей
          .col-xl-6.col-lg-6.margin
            .block-def
              p Видео <a class="home-bloggers-title-link" href="#" onclick="openbox('show-videos-promoter'); return false">все</a>
              .row.partner-show-pc
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 359кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_1.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_1.mp4" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 417кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_2.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_2.mp4" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 599кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_3.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_3.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.add-mb-2.text-center.block-settings-post(style="display:none;")
                  span.block-settings-size 504кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_4.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_4.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.add-mb-2.text-center.block-settings-post(style="display:none;")
                  span.block-settings-size 1.25мб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_5.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_5.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 399кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_6.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/story/pm_promoter_story_1.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 287кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_7.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/story/pm_promoter_story_2.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 619кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_8.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/story/pm_promoter_story_3.mp4" download) Скачать
              .row.partner-show-mobile
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 359кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_1.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_1.mp4" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 417кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_2.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_2.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.add-mb-2.text-center.block-settings-post(style="display:none;")
                  span.block-settings-size 599кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_3.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_3.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.add-mb-2.text-center.block-settings-post(style="display:none;")
                  span.block-settings-size 504кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_4.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_4.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.add-mb-2.text-center.block-settings-post(style="display:none;")
                  span.block-settings-size 1.25мб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_5.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/post/pm_promoter_post_5.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 399кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_6.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/story/pm_promoter_story_1.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 287кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_7.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/story/pm_promoter_story_2.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-promoter.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 619кб
                  img.border-radius(src="partner/promoter/videos/preview/pm_promoter_preview_8.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/videos/story/pm_promoter_story_3.mp4" download) Скачать
          .col-xl-6.col-lg-6.margin
            .block-def
              p Баннеры <a class="home-bloggers-title-link" href="#" onclick="openbox('show-images-promoter'); return false">все</a>
              .row.partner-show-pc
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 373кб
                  img.border-radius(src="partner/promoter/images/pm_promoter_banner_1.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/images/pm_promoter_banner_1.jpg" download) Скачать 
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 379кб
                  img.border-radius(src="partner/promoter/images/pm_promoter_banner_2.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/images/pm_promoter_banner_2.jpg" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 70.6кб
                  img.border-radius(src="partner/promoter/images/pm_promoter_banner_3.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/images/pm_promoter_banner_3.jpg" download) Скачать 
              .row.partner-show-mobile
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 373кб
                  img.border-radius(src="partner/promoter/images/pm_promoter_banner_1.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/images/pm_promoter_banner_1.jpg" download) Скачать 
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 379кб
                  img.border-radius(src="partner/promoter/images/pm_promoter_banner_2.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/images/pm_promoter_banner_2.jpg" download) Скачать
                .col-sm-4.col-6.show-images-promoter.add-mb-2.text-center(style="display:none;")
                  span.block-settings-size 70.6кб
                  img.border-radius(src="partner/promoter/images/pm_promoter_banner_3.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/promoter/images/pm_promoter_banner_3.jpg" download) Скачать 
          .col-xl-12
            h2.home-block-title 
              <i class="bi bi-archive svg-2 color-purple"></i> Промо материалы для привлечения блогеров 
          .col-xl-6.col-lg-6.margin
            .block-def
              p Видео <a class="home-bloggers-title-link" href="#" onclick="openbox('show-videos-blogger'); return false">все</a>
              .row.partner-show-pc
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 1.75мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_1.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/post/pm_blogger_post_1.mp4" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 1.20мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_2.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/post/pm_blogger_post_2.mp4" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 993кб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_3.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/post/pm_blogger_post_3.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 2.23мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_1.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/story/pm_blogger_story_1.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 1.75мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_2.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/story/pm_blogger_story_2.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 1.10мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_3.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/story/pm_blogger_story_3.mp4" download) Скачать
              .row.partner-show-mobile
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 1.75мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_1.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/post/pm_blogger_post_1.mp4" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center.block-settings-post
                  span.block-settings-size 1.20мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_2.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/post/pm_blogger_post_2.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.add-mb-2.text-center.block-settings-post(style="display:none;")
                  span.block-settings-size 993кб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_3.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/post/pm_blogger_post_3.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 2.23мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_1.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/story/pm_blogger_story_1.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 1.75мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_2.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/story/pm_blogger_story_2.mp4" download) Скачать
                .col-sm-4.col-6.show-videos-blogger.text-center.add-mb-2.block-settings-story(style="display:none;")
                  span.block-settings-size 1.10мб
                  img.border-radius(src="partner/blogger/videos/preview/pm_blogger_preview_3.png" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/videos/story/pm_blogger_story_3.mp4" download) Скачать
          .col-xl-6.col-lg-6.margin
            .block-def
              p Баннеры <a class="home-bloggers-title-link" href="#" onclick="openbox('show-images-blogger'); return false">все</a>
              .row.partner-show-pc
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 303кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_1.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_1.jpg" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 392кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_2.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_2.jpg" download) Скачать
                .col-sm-4.col-6.text-center.add-mb-2
                  span.block-settings-size 727кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_3.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_3.jpg" download) Скачать
                .col-sm-4.col-6.show-images-blogger.text-center.add-mb-2(style="display:none;")
                  span.block-settings-size 492кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_4.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_4.jpg" download) Скачать
              .row.partner-show-mobile
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 303кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_1.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_1.jpg" download) Скачать
                .col-sm-4.col-6.add-mb-2.text-center
                  span.block-settings-size 392кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_2.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_2.jpg" download) Скачать
                .col-sm-4.col-6.show-images-blogger.text-center.add-mb-2(style="display:none;")
                  span.block-settings-size 727кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_3.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_3.jpg" download) Скачать
                .col-sm-4.col-6.show-images-blogger.text-center.add-mb-2(style="display:none;")
                  span.block-settings-size 492кб
                  img.border-radius(src="partner/blogger/images/pm_blogger_banner_4.jpg" draggable="false")
                  a.input-def-title.mt-0.color-hover(href="partner/blogger/images/pm_blogger_banner_4.jpg" download) Скачать
          .col-xl-12
            .margin.text-align-center-size
              p.mb-10 Нет нужных промо?
                .row
                  .col-xl-3.offset-xl-0.col-lg-3.offset-lg-0.col-md-4.offset-md-0.col-sm-6.offset-sm-3.col-8.offset-2
                    a.block-settings-link(href="#" onclick="document.getElementById('chat-modal-1').style.display='block'")
                      <i class="bi bi-envelope svg-3"></i> Заказать бесплатно      
    script(src="js/scripts.js")