doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Партнерская программа - Статистика - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="partner-stats.html") Статистика
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            p.text-align <i class="bi bi-emoji-wink svg-3 color-purple"></i> Партнер с PostMarket!
    .main
      .aside#hidden-element
        a.aside-logo(href="partner.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="partner.html") 
          <i class="bi bi-house svg"></i> Главная
        a.aside-link.aside-link-active(href="partner-stats.html") 
          <i class="bi bi-bar-chart svg"></i> Статистика
        a.aside-link(href="partner-settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="index.html") 
          <i class="bi bi-arrow-left-right svg"></i> Рекламодатель
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container
        .row
          .col-xl-12.partner-size
            .block-partner
              h2 
                <i class="bi bi-calendar svg-2 color-purple"></i> с 20.20.20 по 21.21.21
          .col-xl-12
            .partner-stats
              .table-size
                table.table
                  tr
                    th Переходов
                    th Рекламодателей
                    th Блогеров
                    th Доход
                    th Дата
                  tr
                    td.color-purple 1000
                    td.color-purple 100
                    td.color-purple 100
                    td.color-purple 1.000₽
                    td.color-purple 20.20.20
                  tr
                    td.color-purple 1000
                    td.color-purple 100
                    td.color-purple 100
                    td.color-purple 1.000₽
                    td.color-purple 20.20.20
                  tr
                    td.color-purple 1000
                    td.color-purple 100
                    td.color-purple 100
                    td.color-purple 1.000₽
                    td.color-purple 20.20.20
                  tr
                    td.color-purple 1000
                    td.color-purple 100
                    td.color-purple 100
                    td.color-purple 1.000₽
                    td.color-purple 20.20.20
                  tr
                    td.color-purple 1000
                    td.color-purple 100
                    td.color-purple 100
                    td.color-purple 1.000₽
                    td.color-purple 20.20.20
    script(src="js/scripts.js")