doctype html

html(lang="ru")
  head
    meta(charset="utf-8")
    title Настройки - Рекламодатель - PostMarket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" href="img/fav/pm-fav.png")
    link(rel="stylesheet" href="css/main.css")
  body
    .header
      .container-fluid
        .row
          .col-xl-6.col-lg-6.col-md-3.col-sm-5.col-4
            a.header-link#hidden-link(href="#") 
              <i class="bi bi-list svg-3"></i> Меню
            h1.header-title
              a.heder-title-link(href="settings.html") Настройки
          .col-xl-6.col-lg-6.col-md-9.col-sm-7.col-8
            .header-status
              p.header-status-balance 0 ₽ <sup class="header-status-balance-money">2 000 ₽
              a.header-status-pay(href="settings.html") Пополнить баланс
    .main
      .aside#hidden-element
        a.aside-logo(href="index.html")
          <i class="aside-logo-svg"></i>
        a.aside-link.hide-2#hidden-link-2(href="#") 
          <i class="bi bi-x-circle svg"></i> Закрыть меню
        a.aside-link.aside-link-create(href="create-company.html") 
          <i class="bi bi-plus-circle svg"></i> Запустить рекламу
        a.aside-link(href="index.html")
          <i class="bi bi-house svg"></i> Главная
        a.aside-link(href="company.html") 
          <i class="bi bi-bullseye svg"></i> Реклама 
        a.aside-link(href="bloggers.html") 
          <i class="bi bi-people svg"></i> Блогеры 
        a.aside-link.aside-link-active(href="settings.html") 
          <i class="bi bi-gear svg"></i> Настройки
        a.aside-link(href="partner.html") 
          <i class="bi bi-arrow-left-right svg"></i> Партнер
        a.aside-link(href="#") 
          <i class="bi bi-box-arrow-right svg"></i> Выйти
      .container
        .row
          .col-xl-6.block-dev.col-lg-6
            .row
              .col-xl-4.col-lg-4.col-sm-4.col-12
                p.settings-title-login Логин:
              .col-xl-8.col-lg-8.col-sm-8.col-12
                p.settings-title-login.text-align.color-purple STRAIKISS.WEB@GMAIL.COM
              .col-xl-4.col-lg-5.col-sm-4.col-12
                button.settings-title-login.mt-10.hover-purple.bb.tooltip(onclick="openbox('settings-key'); return false") Секретный ключ: 
                  <i class="bi bi-question-circle svg color-purple"></i>
                  span.tooltip-text Нужен для работы ЦПА по настройке postback уведомлений.
              .col-xl-8.col-lg-7.col-sm-8.col-12
                p.settings-key.settings-title-login.color-purple.mt-10.text-align(style="display:none;") 5a94e4fb-58cb-4128-8224-8b3d46244823
        .row
          .col-xl-6.col-lg-6.col-md-12.order-xl-1.order-lg-1.order-md-2.order-sm-2.order-2
            .block-settings.block-def.mb-0 
              .row
                .col-xl-4.col-lg-5.col-md-3.col-sm-5.col-6
                  .settings-hover
                    img.settings-image(src="img/avatar/1.png" draggable="false")
                    <i class="bi bi-plus home-block-inside-svg"></i>
              p.input-def-title Ссылка на сайт
              input.input-def(placeholder="www.site.ru")
              p.input-def-title Аккаунт в Инстаграм
              input.input-def(placeholder="instagram_account")
              p.input-def-title Хэштэг
              input.input-def(placeholder="#insta_my_tag")
              p.input-def-title Регион
              input.input-def.margin(placeholder="Введите названия и выберите город из списка")
              .settings-filtr(style="display:none;")
                p.input-def-title.mt-0 Название организации
                input.input-def(placeholder="Наименование бизнеса или личного бренда")
                p.input-def-title Юридический адрес
                input.input-def(placeholder="")
                p.input-def-title ИНН
                input.input-def(placeholder="10 цифр")
                p.input-def-title ОГРН
                input.input-def(placeholder="13 цифр")
                p.input-def-title КПП
                input.input-def(placeholder="9 цифр")
                p.input-def-title Контактный номер телефона
                input.input-def(placeholder="")
                p.input-def-title Название банка
                input.input-def(placeholder="")
                p.input-def-title БИК
                input.input-def(placeholder="9 цифр")
                p.input-def-title Корреспондентский счёт
                input.input-def(placeholder="20 цифр")
                p.input-def-title Расчётный счёт
                input.input-def(placeholder="20 цифр")
              button.settings-btn Сохранить
            .row
              .col-xl-5.offset-xl-7.col-lg-6.offset-lg-6.col-md-4.offset-md-8
                button.mt-10.margin.hover-purple.bb(onclick="openbox('settings-filtr'); return false") 
                  <i class="bi bi-person-plus svg color-purple"></i> Для юридических лиц
          .col-xl-6.col-lg-6.col-md-12.order-1
            .block-settings.block-def
              .row
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                  p.block-settings-title-balance 
                    <i class="bi bi-wallet2 svg color-purple"></i> Пополнить баланс
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                  p.block-settings-title-unitpay 
                    <i class="bi bi-shield-check svg color-purple"></i> UnitPay Касса
              input.input-def.margin.text-center(placeholder="Сумма пополнения ₽")
              button.settings-button Пополнить
            .block-settings.block-def
              p.block-settings-title-links 
                <i class="bi bi-archive svg color-purple"></i> Полезные ссылки 
              a.settings-link(href="https://postmarket.pro/blog" target="_blank") F.A.Q.
                <i class="bi bi-arrow-right-short block-settings-link-svg color-purple"></i>
              a.settings-link(href="https://postmarket.pro/termsOfUse" target="_blank") Условия оказания услуг
                <i class="bi bi-arrow-right-short block-settings-link-svg color-purple"></i>
              a.settings-link(href="https://postmarket.pro/privacyPolicy" target="_blank") Политика приватности
                <i class="bi bi-arrow-right-short block-settings-link-svg color-purple"></i>
    script(src="js/scripts.js")